body{
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 530;
}
h1 {
    font-size: 24px;
}
a {
    color: #c30;
}
#encabezado {
    color: #369;
    font-size: 16px;
}
.apartado {
    background-color: #ffffcc;
    color: #0000bb;
    font-style: italic;
}
h3 {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}
.autores {
    background-color: #000000;
    color: #f8f52c;
    font-style: italic;
}
.right {
    background-color: rgb(189, 188, 188);
}